# Build outputs
build/
build-*/
out/
dist/
*.user
*.user.*

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
.cmake/

# Qt Creator
*.autosave
*.qmlproject.user
*.qmlproject.user.*
CMakeLists.txt.user*

# IDE
.vscode/
.idea/
.vs/

# OS
.DS_Store
Thumbs.db

# My things and stuff and such
work/
qt.bash
test/
